html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Fontdiner Swanky", cursive;
  background-image: url("../images/favorites.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


/*****************************Initial Display*******************************************/

#display-section {
  max-width: 500px;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: auto;
  padding-bottom: 6%;
  background-color: white;
}

header img {
  display: block;
  margin: auto;
  max-width: 100%;
}


#first-list, #made-list {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding-top: 20px;
}

#first-list p {
  padding-top: 20px;
  font-size: 1.1em;
}

#made-list {
  display: none;
  text-align: center;
}

#made-list li {
  list-style-type: none;
  padding-top: 5%;
  font-size: 1.5em;
}

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}

#first-button {
  margin-top: 3em;
}

/******************************Secondary Display*********************************************/

ul {
  padding-left: 0;
}

/******************************Form Section**************************************************/

#form-section {
  display: none;
  max-width: 500px;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: auto;
  padding-bottom: 6%;
  background-color: white;
  text-align: center;
}

#form-view {
  max-width: 95%;
  margin: auto;
}

@media (min-width: 992px) {
  #double-button {
    padding-left: 140px;
  }
}